{% extends 'base.html' %}
{% block content %}

<form action="{% url 'movies:new' %} ">

    <div class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
            <input type="text" class="form-control" name="title" aria-label="Sizing example input" maxlength="80"
                aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">내용</span>
            <input type="text" class="form-control" name="content" aria-label="Sizing example input" maxlength="800"
                aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <input type="submit" class="w-100 " value="리뷰쓰기">
</form>



{% endblock %}